* {
    font-family: 'MuseoModerno';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.container {
    max-width: 850px;
    margin: 0 auto;
}



@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/label';
@import 'blocks/label_media';
@import 'blocks/advantages_media';
@import "blocks/promo_media";
@import 'blocks/button_media';
@import 'blocks/header_media';
@import 'blocks/colsultation_media';
@import 'blocks/forms_media';


