* {
    font-family: 'MuseoModerno';
}
.container {
    max-width: 850px;
    margin: 0 auto;
}

.label {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/advantages_media';
@import "blocks/promo_media";
@import 'blocks/button_media';
@import 'blocks/header_media'
