.carousel {
    padding: 107px 0;
    &__inner {
        max-width: 750px;
        margin: 0 auto;
        position: relative;
        img {
            display: block;
            margin: 0 auto;
        }
    }    
        
    }
    .prev {
        background-color: #fff;
        border: none;
        width: 31px;
        height: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -70px;
        
    }
    .next {
        background-color: #fff;
        border: none;
        width: 31px;
        height: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -55px;
    }
   

/* .carousel {
    padding: 107px 0;
    &__inner {
        max-width: 750px;
        margin: 0 auto;
        position: relative;
    &__slide {
        img {
            width: 100%;
            margin: 0 auto;
        }     
    }
    }    
      
    }
    .slick-prev {
        border: none;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        img {
            
            width: 31px;
            height: 50px;

        }
    }
    .slick-next {
        border: none;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -66px;
        img {
            
            width: 31px;
            height: 50px;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }
    
    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 40px;
        height: 40px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }
        .slick-dots li button:before {
        content: '•';
        font-size: 22px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        opacity: .25;
        color: blueviolet;
    }
    .slick-active button {
        color: red;
    } slick slider */