.label {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-weight: 700;
        font-size: 34px;    
        color: #fff;
        text-align:left;
    }
}